@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
  :root {
    --Sada: #ffffff;
    --Dhusor: #363738;
    --AbchaSada: #f5f5f5;
    --AbchaSada1: #fefaf1;
    --SadaLekhoni: #fafafa;
    --DhusorLekhoni: #7d8184;
    --Secondary2: #db4444;
    --kolapata: #00ff66;
    --Botam2: #db4444;
    --BotamHover: #e07575;
    --HoverBotam: #a0bce0;
    --Swoccho: #91919163;
    --AKShor: "Poppins", sans-serif;
    --AKShor2: "Inter", sans-serif;
  }
}

@layer component {
  .viewAllProduct {
    @apply font-popins text-base text-Sada bg-Secondary2 py-4 px-12 rounded hover:cursor-pointer;
  }
  .footerMenuHeading {
    @apply !text-2xl  !mb-6 !font-popins;
  }
  .footerUl {
    @apply flex flex-col gap-y-4 font-popins [&>li:hover]:underline cursor-pointer;
  }
  .rhorizontal{
    @apply w-full
  }
  .productCard{
    @apply w-full flex gap-x-2 xl:gap-x-10
  }
  .slick-track {
    gap: 30px;
  }
  .menu_link {
    position: relative;
  }
  .menu_link::after {
    position: absolute;
    content: "";
    bottom: -5px;
    left: 0;
    width: 115%;
    height: 2px;
    background: #000;
    transform: scale(0);
  }
  .menu_link:hover::after {
    transition: 0.2s all linear;
    transform: scale(1);
  }
  .amount {
    position: relative;
  }
  .amount::after {
    position: absolute;
    content: "0";
    left: 39%;
    top: -52%;
    width: 25px;
    height: 25px;
    line-height: 25px;
    background-color: var(--Secondary2);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    text-align: center;
    color: var(--Sada);
    font-size: 15px;
  }
  .userPanel {
    background: linear-gradient(
      198deg,
      #100000f8 0%,
      #37054bc3 50%,
      #25000075 100%
    );
    box-shadow: 0px 0px 3px rgb(181, 181, 181);
  }
  .UrersControl:hover {
    width: 100%;
    border: 2px;
    border-bottom: 2px solid rgb(255, 255, 255);
    background-color: #cbcbcb;
  }
  .searchInput {
    position: relative;
  }
  .searchInput::after {
    background-color: #ff0000;
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    transition: 0.3s all linear;
    transform: translateX(50%);
    transform: scale(0);
  }
  .searchInput:hover::after {
    transform: scale(1);
  }
  .categoryItem:hover {
    padding: 2px;
    border-radius: 4px;
    letter-spacing: 2px;
    text-wrap: nowrap;
    transition: 0.2s all linear;
    -webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.258);
    -moz-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.258);
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.258);
  }
  /* .viewallBtn::after{

  } */
   
  .circle1 {
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    outline: 2px solid #d0ffee;
    border-radius: 50%;
    transform: skew(235deg, 53deg);
    position: relative;
  }
  .circle1::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    /* border: 5px solid #9696ff; */
    outline: 2px solid #cce2fc;
    border-radius: 50%;
    transform: skew(294deg, 36deg);
  }
  .circle1::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    /* border: 5px solid #e9e9ea; */
    outline: 2px solid #bcfff8;
    border-radius: 50%;
    transform: skew(146deg, 65deg);
  }
  .circle2 {
    position: absolute;
    box-sizing: border-box;
    width: 36px;
    height: 36px;
    outline: 2px solid #ffadfc;
    border-radius: 50%;
    transform: skew(77deg,42deg);
    position: relative;
  }
  .circle2::before {
    position: absolute;
    content: "";
    top: 0;
    left: 06px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    /* border: 5px solid #9696ff; */
    outline: 2px solid #fd8147;
    border-radius: 50%;
    transform: skew(291deg, -36deg);
  }
  .circle2::after {
    position: absolute;
    content: "";
    top: 0;
    left: 03px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    /* border: 5px solid #9696ff; */
    outline: 2px solid #c1b700;
    border-radius: 50%;
    transform: skew(282deg, -24deg);
  }
 
}
